{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I'm Samuel! Welcome to my little corner of the internet where I share my thoughts, ideas, and stories. This blog is a space for curiosity, creativity, and sometimes a bit of rambling—because that's how the best ideas start!
        </p>
        <p>
          Here, you'll find posts on a variety of topics that inspire me, from personal experiences and reflections to tips, tutorials, and everything in between. My goal is to create content that's not only interesting to read but also sparks a conversation or gives you a new perspective.
        </p>
        <p>
          I love hearing from readers, so don't hesitate to reach out or leave a comment. Whether you're here to learn, explore, or just enjoy some stories, I'm glad you stopped by!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
